body{
    background-color: #e7e7e7;
    font-family:cursive;
    font-size: 17px;
    color:#44566c;
}
.upper{
    position:absolute;
    top:2.5%;
    right:10px;
    width:99%;
    bottom: 88%;
    background-color: #56b4b7;
    border-radius: 10px;
}

#logo{
    width:15%;
    height:100%;
    border-radius: 10px;
}
.bottons{
    position: absolute;
    right:5%;
    top:30%;
}
a{
    text-decoration:none;
    border-radius: 7.5px;
    color:#44566c;
    padding: 10px 10px;
    background-color:#A2D9CE ;
}
input{
    border-radius: 10px;
    color:#44566c;
    padding: 10px 80px;
    background-color:#A2D9CE ;
}
.search{
    position:absolute;
    right:40%;
    top:20%;
}
.left{
    position:absolute;
    left:10px;
    right:80%;
    background-color:#56b4b7;
    border-radius: 10px;
    width:30%;
    height:60%;
    text-align: center;
}
table{
    width:100%;
    height:60%;
    align-content: center;
    text-align: center;
}
.right{
    position:absolute;
    right:10px;
    left: 31%;
    background-color: #56b4b7;
    border-radius: 10px;
    height:60%;
    text-align: center;
}
footer{
    position:fixed;
    left:5px;
    bottom:5px;
    color:#44566c;
    text-align: left;
    font-size: 15px;
}
p{
    border-style: solid;
    border-radius:8px;
    border-width: 5px;
}