body{
    background-color: #e7e7e7;
    font-family:cursive;
    font-size: 17px;
    color:#44566c;
}
.upper{
    position:absolute;
    top:2.5%;
    right:10px;
    width:99%;
    bottom: 88%;
    background-color: #56b4b7;
    border-radius: 10px;
}
#logo{
    width:15%;
    height:100%;
    border-radius: 10px;
}
.bottons{
    position: absolute;
    right:5%;
    top:30%;
}
a{
    text-decoration:none;
    border-radius: 7.5px;
    color:#44566c;
    padding: 10px 10px;
    background-color:#A2D9CE ;
}
input{
    border-radius: 10px;
    color:#44566c;
    padding: 10px 80px;
    background-color:#A2D9CE ;
}
.search{
    position:absolute;
    right:40%;
    top:20%;
}
footer{
    position:fixed;
    left:5px;
    bottom:5px;
    color:#44566c;
    text-align: left;
    font-size: 15px;
}
form{
    background-color:#56b4b7;
    text-align: center;
    border-radius:40px;
    position: absolute;
    left:500px;
    right:500px;
    top:250px;
}
