p{
    border-radius: 10px;
    background-color: #a2cdb8;
    padding: 10px;
    font-size: 20px;
}
table{
    font-size: 20px;
    width:100%;
    padding: 10px;
    border-style:solid;
}
td{
    border-style:solid;
}
body{
    text-align: center;
    color:#44566c;
    background-color:#e7e7e7;
}

   